/* General portfolio container styling */
.portfolio {
  margin-top: 100px;
  padding: 40px;
  text-align: center;
  background-color: linear-gradient(to bottom, #12071f, #2f204e00 60%);
}

.portfolio h1 {
  font-size: 2.5rem;
  margin-bottom: 40px;
  color: #fff;
}

/* Cards container to arrange cards in a grid */
.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

/* Individual card styling */
.card {
  position: relative;
  width: 350px;
  height: 250px;
  overflow: hidden;
  border-radius: 12px;
  margin-top: 20px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

/* Default image display */
.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease;
}

.card:hover img {
  opacity: 0.2;
}

/* Hover content styling */
.hoverContent {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 5px;
  padding-right: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.card:hover .hoverContent {
  opacity: 1;
}

.hoverContent h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #ff7f50;; /* Light golden color */
}

.hoverContent p {
  font-size: 1rem;
  margin-bottom: 20px;
  color: #e0e0e0;
}

.hoverContent button {
  background: #ff7f50;;
  color: #12071f;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.hoverContent button:hover {
  background: #ffeb88; /* Lighter shade of the golden color */
  transform: scale(1.1);
}
